{% extends 'base.html' %}


{% block content %}
<style type="text/css">
   .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">

			{% if success_message %}
				<h3 style="color:green; text-align: center;">{{success_message}}</h3>
			{% endif %}

			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h3>Are you sure u want to delete this menu from the list??</h3>
                </div>

                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Company</th>
                      <th scope="col">Type</th>
                      <th scope="col">Cost</th>
                      <th scope="col">Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ form.initial.id }}</th>
                            <td>{{ form.initial.name }}</td>
                            <td>{{ form.initial.company }}</td>
                            <td>{{ form.initial.type }}</td>
                            <td>{{ form.initial.cost }}</td>
                            <td>{{ form.initial.stock }}</td>
                        </tr>
                    </tbody>
                </table>

                {% for field in form %}
					<p>
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				{% if form.non_field_errors %}
					<div style="color: red">
						<p>{{form.non_field_errors}}</p>
					</div>
				{% endif %}

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Delete</button>
			</form>
		</div>
	</div>
</div>

{% endblock content %}