<!DOCTYPE html>
<html>

<head>
    <title>Store Management System</title>
    <!-- Responsive tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    {% include 'snippets/header.html' %}
    {% include 'snippets/base_css.html' %}

    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 110vh;
            height: 100%;
        }
    </style>
    <div class="main" >
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End Body -->

    {% include 'snippets/footer.html' %}
</body>

</html>