{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .background{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        width: 1200px;
        background: whitesmoke;
        box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
    }
</style>

<div class="background">
    <div class="store-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Store Management System</h1>
      <p class="lead">Gathaghar, Bhaktapur</p>
    </div>
</div>


    <div class="store-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Store Management System</h1>
      <p class="lead">Gathaghar, Bhaktapur</p>
    </div>
{##}
{#    <div class = "container">#}
{#        <div class="d-flex flex-column">#}
{#            {% if request.user.is_authenticated %}#}
{#                <h3>Products list</h3>#}
{#                    {% for product in products %}#}
{#                        <p>{{ product }}</p>#}
{#                    {% endfor %}#}
{#            {% else %}#}
{#                 <h3>Registered user:</h3>#}
{#                    {% for account in accounts %}#}
{#                        <p>{{ account.username }} | {{ account.date_joined }} {{ account.active }}</p>#}
{#                    {% endfor%}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

{% endblock content %}