{% extends 'base.html' %}

{% block content %}
    <div class="store-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Store Management System</h1>
      <p class="lead">bla bla bla</p>
    </div>

    <div class = "container">
        <div class="d-flex flex-column">
            <h3>Registered user:</h3>
                {% for account in accounts %}
                    <p>{{ account.username }} | {{ account.date_joined }} {{ account.active }}</p>
                {% endfor%}
        </div>
    </div>

{% endblock content %}